

#topper{
    header{
        text-align: center;
    }
    ul{
        padding: 0;
        display: flex;
        list-style: none;
        justify-content: space-evenly;
    }
}

#takeOnDate{
    display: flex;
    justify-content: space-around;
}

#cellular{
    display: block;
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: blue;
    align-items: stretch;
}

